html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#fc{
    width:100%;
    height:100%;
}
#renderCanvas {
    width: 100%;
    height: 100%;
    background:white;
}

#menu-bar {
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 40%;
    padding:5px;
    background:#222;
    color:#fff;

}

.menu-dropdown {
    position: relative;
}
.menu-item > .label{
    min-width: 100px;
    padding:3px;
    box-sizing: border-box;
    position:relative;
}
.menu-item > .label:hover{
    background:rgba(255, 255, 255, 0.1);
}
.menu-dropdown-content {
    position: absolute;
    left: 110%;
    top: 0;
    display: none;
    background:#222;
    padding:5px;
    box-sizing: border-box;
    border-radius:5px;
    color:#fff;
    border:solid 2px #444;
}
.menu-dropdown::before{
    display: block;
    content:'';
    width:17px;
    height:17px;
    text-align:center;
    position:absolute;
    background:#222;
    color:#fff;
    border-radius:5px;
    background:#fff5;
    top:4px;
    right:10px;
    font-weight:600;
    transition:all 0.3s linear;
}
.menu-dropdown::after{
    display: block;
    content:'';
    position: absolute;
    top:7px;
    right:15px;
    width: 0;
    height: 0;
    border-left: 5px solid #e8e8e8;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right:0px solid transparent;
    transition:all 0.3s linear;
    /* clear: both; */
}

.menu-dropdown.show::before{
    background:#ff0;
}
.menu-dropdown.show::after{
    transform:rotate(90deg);
    border-left: 5px solid #000;
    top:8px;
    right:16px;
    
}
.menu-dropdown.show > .menu-dropdown-content{
    display: block;
}

#menu-bar.menu-dropdown-content{
    display:block;
}
#menu-bar.menu-dropdown-content::before{
    color:#ff0;
}

#main-panel{
    height:100%;
    width:100%;
    position: relative;
}
#canvaszone{
    height:100%;
    width:100%;
}
#object-inspector{
    position:absolute;
    z-index:10;
}